<h1 ng-hide="$ctrl.loggedIn">Please login</h1>
<h1 ng-show="$ctrl.loggedIn">You have already logged in</h1>

<button class="btn btn-primary"
        ng-click="$ctrl.anonymousLogin()"
        ng-hide="$ctrl.loggedIn"
        >Anonymous</button>

<button class="btn btn-primary"
        ng-click="$ctrl.facebookLogin()"
        ng-hide="$ctrl.loggedIn"
        >Log In With Facebook</button>

<button class="btn btn-primary"
        ng-click="$ctrl.goBack()"
        ng-show="$ctrl.loggedIn"
        >Go back</button>

<br>

<div class="alert alert-danger" ng-show="!!$ctrl.errorMessage">{{ errorMessage }}</div>