@import "~normalize.css/normalize.css"

body
  background: #eee
  font-size: 14px
  font-family: Monaco,'Courier New',monospace

  h1
    border: 1px solid #000
    border-radius: 4px
    color: #000
    font-size: 22px
    font-weight: bold
    padding: 5px
    text-align: center
